@import "tailwindcss";
@plugin "tailwind-scrollbar";

* {
    @apply scrollbar scrollbar-thumb-[oklch(1_.08_174/.8)];
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track{
    radius: 0;
    background: oklch(.7 0 0 / .2);
}

body {
    @apply bg-[oklch(0.3_0.02_274)];
}

indigo: {
  100: "#dbdce2",
  200: "#b7bac6",
  300: "#9497a9",
  400: "#70758d",
  500: "#4c5270",
  600: "#3d425a",
  700: "#2e3143",
  800: "#1e212d",
  900: "#0f1016"
},

pink: {
  100: "#fddcec",
  200: "#fbbad9",
  300: "#fa97c6",
  400: "#f875b3",
  500: "#f652a0",
  600: "#c54280",
  700: "#943160",
  800: "#622140",
  900: "#311020"
},

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; prevent horizontal scroll
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  /* colors
  // green: text-[oklch(1_.08_174)] 
  // pink: bg-[oklch(.7_.1_1.2)]
  // bg: bg-[oklch(.3_.02_274)] */
}
